
button{
    background-color: #2F70AF;
    color:white;
    border: 1px solid #2F70AF; 
}
button:hover{
    background-color: #225385;
}
.form-container a{
    color:#778D45;
    text-decoration: none;
}
.form-container a:hover{
    color:#373f25;
}
.center{
    text-align: center;
}

