*{
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    width: auto;
    max-height: 72px;
    height: auto;
    position:fixed;
    background-color: white;
    font-size: 18px;
}
.logo{
    margin-left: 20px;
}
.logo img{
    width: 150px;
    height: 40px;
}
.menu{
    margin-right: 25px;
}
.navbar a{
    text-decoration: none;
}
.menu-logged{
    display: flex;
    justify-content: space-around;
 
    margin-right: 20px;
    width: 30%;
    max-width: 100%;
    font-size: 18px;
}

